
.outer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
    width: 310px;
    margin: 20px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.screen {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    height: 60px;
    justify-content: right;
    padding-right: 4px;
    align-items: center;
    font-size: 30px;
    background-color: bisque;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: black;
    color: orange;
}

#enter {
    width: 310px;
}